
.nav li{
        display: inline-block;
        padding-right: 10px;
        background-color: red;
}

a {
    color: white;
    font-family: Helvetica;
    font-size: 36px;
    margin: 0 auto;
    }

.color-info, a {
  color: black;
  border: 3px solid black;
  padding: 5px;
}



}

div {
  margin: 20px 0;
}

#about_blue {
  background-color: #6495ED;}

#about_yellow {
  background-color: #FFEBCD;
}
#about_blue li {
  color: blue;
}
#about_yellow li {
  color: orange;
}
.important {
  font-size: 16px;
  font-weight: bold;
}
